<!DOCTYPE html>
<html>
    
    <head>
        <title>GoToClass Webpage</title>
        <meta charset="utf-8" <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap core JavaScript==================================================-->
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="capstone/js/bootstrap.min.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="capstone/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="capstone/css/main.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media
        queries -->
        <!--[if lt IE 9]>
            <script src="../../assets/js/html5shiv.js"></script>
            <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        
        <!--Jumbotron-->
        <div class="jumbotron">
            
            <a href="http://www.linkedin.com"><img src="capstone/images/lnk-logo.png" alt="logo" span class="logo"></a>
            <a href="http://www.twitter.com"><img src="capstone/images/tw-logo.png" alt="logo" span class="logo"></a>
            <a href="http://www.facebook.com"><img src="capstone/images/fb-logo.png" alt="logo" span class="logo"></a>
            <h1>Capstone</h1>
            
            
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It
                has roots in a piece of classical Latin literature from 45 BC, making it
                over 2000 years old. Richard McClintock, a Latin professor at Hampden</p>
            <p>
                <a class="btn btn-success btn-lg " role="button">View More <span class="glyphicon glyphicon-thumbs-up"></span></a>
            </p>
        </div>
        <!--News section goes here-->
        <div class="row">
            
        <div class="col-md-4">
            <h3>News Heading</h3>
            <blockquote><p>There are many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour, or 
            randomised words which don't look even slightly believable. If you are 
            going to use a passage of Lorem Ipsum, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC, making</p>
            <p>
                <a class="btn btn-info" href="#" role="button" >See Details <span class="glyphicon glyphicon-share-alt"></span></a>
            </p>
            
            </blockquote>
        </div>
        <div class="col-md-4">
            <h3>News Heading</h3>
            <blockquote><p>It is a long established fact that a reader will be distracted by the 
            readable content of a page when looking at its layout. The point of using
            Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
            as opposed to using 'Content here, content here', making it look like 
            readable English. </p>
            
                <p>
                    <a class="btn btn-info" href="#" role="button">See Details <span class="glyphicon glyphicon-share-alt"></span></a>
                </p>
            </blockquote>
        </div>
        <div class="col-md-4">
            <h3>News Heading</h3>
            <blockquote><p>Many desktop publishing packages and web page editors 
            now use Lorem Ipsum as their default model text, and a search for 'lorem 
            ipsum' will uncover many web sites still in their infancy. Various versions
            have evolved over the years, sometimes by accident, sometimes on purpose 
            (injected humour and the like).Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making </p>
            
                <p>
                    <a class="btn btn-info" href="#" role="button">See Details <span class="glyphicon glyphicon-share-alt"></span></a>
                </p>
            </blockquote>
        </div>
        </div>
        
    </body>

</html>